[build]
target = "xtensa-esp32-espidf"

[target.xtensa-esp32-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"

[env]
ESP_IDF_VERSION = "v5.1.2"
ESP_IDF_SDKCONFIG_DEFAULTS = "sdkconfig.defaults"

[unstable]
build-std = ["std", "panic_abort"]

[alias]
flash = "espflash flash --monitor"
